body{
    background-color: coral;
    color: darkmagenta;
}

h1{
    color:cornflowerblue
}
.parrafo{color: limegreen;}

































































































































































































































































































































































































































































